/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  text-decoration: none !important;
  cursor: pointer;
}

.bg {
  background-image: url("../images/work-stations-plus-espresso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.centerContainer {
  text-align: center;
}

.spinner span {
  margin-left: 10px;
}

.intro {
  color: white;
  text-align:center;
  min-height: 460px;
  font-size: 22px;
}

.intro p {
  padding-top: 200px;
}

.search {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.placeContainer {
  line-height: 28px;
  width: 300px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}



.bar {
  background-image: url("../images/glyphicons_273_drink.png")
}

.coworking {
  background-image: url("../images/glyphicons_043_group.png")
}

.library {
  background-image: url("../images/glyphicons_351_book_open.png")
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.wifibar {
  left: 67px;
  bottom: -1px;
  position: absolute;
  width: 100px;
  height: 10px;
}

.value {
  margin-left: 7px;
}

.btn.add {
  margin: 20px 0 0 0;
}

