<div ng-controller="PlaceCtrl">
  <div class="row placeContainer">
    <div class="col-md-4 col-md-offset-2">
      <h3>{{place.get('name')}}</h3>
      <i class="fa fa-location-arrow"></i><span class="value">Address: {{place.get('address')}}</span>
      <br>
      <i class="icon fa" ng-class="{bar:'fa-glass', coworking:'fa-users', library:'fa-graduation-cap', hotel:'fa-home', hotel:'fa-home'}[place.get('placeType')]"></i><span class="value">{{place.get('placeType')}}</span>
      <br>
      <i class="fa fa-phone"></i><span class="value">Can have conf call ?</span><i class="value fa" ng-class="{true: 'fa-check', false: 'fa-close'}[place.get('phoneFriendly')]"></i>
      <br>
      <i class="fa fa-volume-up"></i><span class="value">Is it a quiet place ?</span><i class="value fa" ng-class="{true: 'fa-check', false: 'fa-close'}[place.get('quiet')]"></i>
      <br>
      <i class="fa fa-eur"></i><span class="value"> {{place.get('price')}}€ entrance fee</span>
      <div style="position: absolute;">
        <div>
          <i class="fa fa-wifi"></i>
          <span>Wifi</span>
        </div>
        <div class="progress wifibar" style="bottom: -10px; left: 55px">
          <div class="progress-bar {{place.get('wifiQuality') | wifiColor}}" role="progressbar" style="width: {{place.get('wifiQuality') * 100 / 4}}px"></div>
        </div>
      </div>
    </div>

    <br>
    <iframe
      width="350"
      height="400"
      frameborder="0" style="border:0"
      ng-src="{{trustSrc(url)}}">
    </iframe>
  </div>


</div>