<div ng-controller="PlacesCtrl">

  <div class="search">
    Your location: <input ng-model="formattedAddress" size=40>  
  </div>

  <div class="spinner" ng-show="loading">
    <img src="images/24px-spinner-black.gif"><span>We are looking for places with wifi...</span>
  </div>

  <div class="list-group placeContainer">
    <a href="#/place/{{placeInfo.place.objectId}}" class="list-group-item place" ng-repeat="placeInfo in places">
      <h4>{{placeInfo.place.name}} - {{ placeInfo.distance}}km</h4>
      <img src="../images/glyphicons_185_screenshot.png" class="icon"><span class="value">Address: {{placeInfo.place.address}}</span>
      <br>
      <span class="{{placeInfo.place.placeType}} icon"></span><span class="value">{{placeInfo.place.placeType}}</span>
      <br>
      <img src="../images/glyphicons_441_phone_alt.png" class="icon">  Can have conf call ?<span class="glyphicon {{placeInfo.place.phoneFriendly | boolIcon}} value"></span>
      <br>
      <img src="../images/glyphicons_184_volume_up.png" class="icon">  Is it a quiet place ?<span class="glyphicon {{placeInfo.place.quiet | boolIcon}} value"></span>
      <br>
      <span class="glyphicon glyphicon-euro"></span><span class="value">{{placeInfo.place.price}}</span>
      <div>
        <img src="../images/glyphicons_073_wifi.png" class="icon">
        <span>Wifi</span>  
      </div>
      <div class="progress wifibar">
        <div class="progress-bar {{placeInfo.place.wifiQuality | wifiColor}}" role="progressbar" style="width: {{placeInfo.place.wifiQuality * 100 / 4}}px"></div>
      </div>
    </a>
    <br>
    <button ng-click="reloadList()" ng-hide="loading" class="btn btn-warning">Reload places list</button>
  </div>
</div>