<div ng-controller="PlacesCtrl">
  <div class="row search">
    <div class="col-xs-12">
      <p>Your location: <input ng-model="formattedAddress" size=40> <button ng-click="reloadList()" ng-hide="loading" class="btn btn-warning"><i class="fa fa-refresh"></i></button></p>
    </div>
  </div>

  <div class="row" ng-show="loading">
    <div class="col-xs-12 spinner">
      <i class="fa fa-spinner fa-spin fa-2x"></i><span> We are looking for places with wifi...</span>
    </div>
  </div>

  </br>

  <div class="row">
    <ul class="list-group">
      <li ng-repeat="placeInfo in places" class="col-md-6 placeContainer">
        <a href="#/place/{{placeInfo.place.objectId}}" class="list-group-item">
          <h3>{{placeInfo.place.name}} - {{ placeInfo.distance}}km</h3>
          <i class="fa fa-location-arrow"></i><span class="value">Address: {{placeInfo.place.address}}</span>
          <br>
          <i class="icon fa" ng-class="{bar:'fa-glass', coworking:'fa-users', library:'fa-graduation-cap', hotel:'fa-home', hotel:'fa-home'}[placeInfo.place.placeType]"></i><span class="value">{{placeInfo.place.placeType}}</span>
          <br>
          <i class="fa fa-phone"></i><span class="value">Can have conf call ?</span><i class="value fa" ng-class="{true: 'fa-check', false: 'fa-close'}[placeInfo.place.phoneFriendly]"></i>
          <br>
          <i class="fa fa-volume-up"></i><span class="value">Is it a quiet place ?</span><i class="value fa" ng-class="{true: 'fa-check', false: 'fa-close'}[placeInfo.place.quiet]"></i>
          <br>
          <i class="fa fa-eur"></i><span class="value"> {{placeInfo.place.price}}€ entrance fee</span>
          <div>
            <i class="fa fa-wifi"></i><span> Wifi</span>
          </div>
          <div class="progress wifibar">
            <div class="progress-bar {{placeInfo.place.wifiQuality | wifiColor}}" role="progressbar" style="width: {{placeInfo.place.wifiQuality * 100 / 4}}px"></div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  mixpanel.track("Video play");
</script>
